@keyframes spin {
    5% {
      transform: rotate(1deg) ;
    }
  }

  @keyframes color {
    0% {
      color: rgb(6, 76, 240);;
    }
    100%{
        color: rgb(115, 0, 216);;
    }
  }

  @keyframes move {
    0%{
        transform: translateX(0%) ;
    }
    100%{
        transform: translateY(-5%) translateX(-0%);
    }
  }

  @keyframes colorBorder {
    0% {
      border-bottom: 5px solid rgb(6, 76, 240);;
    }
    50%{
        border-bottom:5px solid rgb(0, 216, 14);;
    }
    70%{
        border-bottom:5px solid rgb(0, 216, 94);;
    }
    100%{
        border-bottom:5px solid rgb(216, 90, 0);;
    }
  }

  