.card{
    position: relative; 
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 100px 230px 50px;
    gap:1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    animation: alternate infinite colorBorder 3s;
  }

  .card__header{
    color: rgb(6, 76, 240);
    animation: alternate infinite color 1s;
    text-shadow: 0.180em 0.1em #333;
  }

.card__title{
    font-weight: 700;
    letter-spacing: 2px; 
  }

.card__body{
    display: grid;
    grid-template-rows: auto 150px;
    padding: 1rem;
    text-align: center;
    margin: 0;
    gap: 1rem;
}

.card__subtitle{
    color: #d9d9d9;
    text-shadow: -1px -1px 1px rgba(111, 56, 56, 0.1), 1px 1px 1px rgb(255, 5, 5);
    font-weight: 600;
    width:  200px;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
}

.card__text{
    color: rgb(238, 130, 130);
    font-weight: 500;
    position: relative;
    margin: 0;
}

.button__whatsapp{
    height: 38px;
    width: 38px; 
}

.button__whatsapp:hover{
    height: 40px;
    width: 40px;
    opacity: 0.8; 
}

.party{
    font-weight: 700;
    color: rgb(245, 99, 99);  
}

.hero-img__decorators{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  animation-name: move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hero-img__decorator {
    position: absolute;
    width: 64px;
    height: 64px;
}
  
.hero-img__decorator:nth-child(1) {
    top: 0%;
    left: 2%;
    transform: translate(-50%, -50%) rotate(0deg);
}
  
.hero-img__decorator:nth-child(2) {
    top: 0%;
    left: 98%;
    transform: translate(-50%, -50%) rotate(0deg);
}



