.header {
  grid-area: header;
}

.section {
  grid-area: main;
}

.photos{
  grid-area: aviso;
}

.section-reserve{
  grid-area: article;
}

.footer {
  grid-area: footer;
}

.container{
  grid-area: courusel;
}

.grid-container {
  display: grid;
  grid-template:
    "header" 
    "main"  
    "aviso"    
    "article" 
    "courusel"
    "footer"  
}

@media (max-width :976px){
  .img h3 {
    
    transform: translate(70px,-300px);
    transition: transform 0.3s , opacity 0.3s ;
  }

.slow>div:hover h3{
    transform: translate(70px, -35px);
    opacity: 1;
  }
}

@media (max-width :620px){
  .nav__main ul.menu  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2f3640;
    height: 100vh;
    padding: 30px;
    opacity: .9;
    transform: translateX(-406px);
   transition: transform .5s ease-in-out;
  }
  .derechos #copyright{
    font-size: 10px;
  }
  .menu__btn{
    display: block;
  }
  
  .nav__main ul.menu li  {
    padding: 40px;
    border-bottom: 1.5px solid white; 
    font-size: 70px;
  }

  .img h3 {
    
    transform: translate(70px,-300px);
    transition: transform 0.3s , opacity 0.3s ;
  }

.slow>div:hover h3{
    transform: translate(70px, -35px);
    opacity: 1;
  }
}

@media (min-width: 620px) {
  .footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:1rem 1rem;
  }

  .carousel {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
  } 
#imagen {
    width: 80%;
    height: 200px;
    background-size: cover;
  }
}

@media (min-width: 400px){
  .reserve{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    margin: 5px;
    gap: 3rem;
  }
}

@media (min-width: 976px) {
  .reserve{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    margin: 1rem;
    gap: 2rem;  
  }

  .derechos #copyright{
    font-size:0.8rem;
  }
   
  .footer{
    display: grid;
    padding:1rem 1rem;
    gap: 2rem;
  }

  .card{
      
    display: grid;
    grid-template-columns:1fr 230px 1fr;
    grid-template-rows: 1fr;
    }
  
  .card__header{
    /*padding-bottom: 3rem;*/
    color: rgb(6, 76, 240);
    animation: alternate infinite color 1s;
    text-shadow: 0.180em 0.1em #333;
  }  
}
