  .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;  
  }
  
  .derechos #copyright{
    font-size: 14px;
  }
  .redes .red a img {
    height: 40px;
    width: 40px;
  }
  
  .menu__link {
    color: var(--primary-links-color);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    transition: color 0.25s;
  }
  
  .menu__link:hover {
    color: var(--links-color-hover);
    font-size: 1.45rem;
    transition: 0.25s ease;
  }





