*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 90%;
    background-image: url(img/agencia.jpg);
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    text-align: center;
   
}

.header h2{
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(20px);
}

.header p{
    font-size: 1.4rem;
    color: white;
    font-weight: 100;
    backdrop-filter: blur(20px);
}

.header button{
    font-size: 1.1rem;
    width: 150px;
    padding: .6rem;    
    background-color: tomato;
    color: white;
    border: 3px solid tomato;
    border-radius: 1rem;
  
   
}

.main {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.agencia-desarrollo{
    display: flex;
   flex-wrap: wrap;
  
}

.agencia-desarrollo .imagen{
    width: 50%;
}
.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding-left: 2rem;
}

.info h2{
    font-size: 2.1rem;
    text-align: center;
}
.info p{
    text-align: center;
    font-size: 1.2rem;
}
.info button {
    font-size: 1.1rem;
    width: 200px;
    padding: .6rem;    
    background-color: tomato;
    color: white;
    border: 3px solid tomato;
    border-radius: 1rem;
}

.avanzar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    background-color: rgb(111, 50, 245,.8);
    color: white;
    justify-content: center;
    gap: 1rem;
    padding-left: 7rem;
}

.avanzar h3{
    font-size: 2rem;
}

.avanzar p {
    font-size: 1.5rem;
}

.servicios{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    gap: 3rem;
    padding-bottom: 3rem;
}

.conteiner button {
    font-size: 1.1rem;
    width: 120px;
    padding: .4rem;    
    background-color: tomato;
    color: white;
    border: 3px solid tomato;
    border-radius: 2rem;
}
.serviciostitle{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: rgb(51, 51, 184);
    
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;
    border: 1px solid black;
    padding: 1rem;
    
}

.servicios-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.servicios-info i {
    font-size: 3rem;
}

.titulo-proyecto{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: rgb(83, 83, 208);
    color: white;
}
.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(111, 50, 245,.8);
    padding: 1.5rem;
   
    width: 100%;
}

.proyectos img{
    width: 250px;
    height: 150px;
    margin: 15px;
}

.contratarnos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   margin: 35px;
}

.contratarnos .imagen{
    width: 50%;
}

.imagen img{
    width: 100%;
}

.contratarnos .info{
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.titulo-form{
    color: white;
    font-weight: 500;
}

form{
    width: 100%;
   display: flex;
    background-color: rgb(111, 50, 245,.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.info-form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 70%;
    padding-top: 1rem;
 
}
.titulo-form {
 
    height: 50px;
    font-size: 2rem;
   
}
.nombre-email {
    display: flex;
   gap: 1rem;
 
}

.nombre,.email{
    width: 50%;
    height: 35px;
}

.info-form textarea{
    width: 100%;
    height: 200px;
}

.info-form .button{
    width: 100px;
   height: 30px;
}


@media (max-width: 800px){

    .proyectos div:nth-child(2n){
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .proyectos div:nth-child(3n){
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .proyectos img {
        width: 160px;
    }
}

@media (max-width: 700px){

    .servicios{
        gap:1rem;
        width: 100%;
    }
    .agencia-desarrollo{
        padding-bottom: 1rem;
    }

 }

 @media (max-width: 500px){

   .agencia-desarrollo{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
   }
   .agencia-desarrollo .imagen{
    width: 70%;
   }
   .agencia-desarrollo .info{
    width: 90%;
    padding-left: 0;
   }

   .serviciostitle {
    font-size: 1.4rem;
   }

   .servicios {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .servicios .conteiner {
    width: 90%;
   }

   .titulo-proyecto h4 {
    font-size: 2rem;
   }

   .proyectos div:nth-child(2n){
        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.proyectos div:nth-child(3n){
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    

 }
 .proyectos img{
    width: 80%;
    height: 200px;
 }

 .contratarnos {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
 }
.contratarnos .imagen {
    width: 70%;
}

.contratarnos .info {
    width: 90%;
}

.nombre-email {
    flex-direction: column;
   
}
.nombre, .email{
    width: 100%;
}
.titulo-form {
    font-size: 1.3rem;
}
  }