.section{
  display: flex;
  align-items: center;
  background-image: url(../../assets/img/casaHallowen.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-color: black;
  
}

.reserve{
    grid-template-columns: 1fr ;
    gap: 5rem;
}

.photos{
  display: grid;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: #5cb3d8;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -2px 20px #ff8000, 0 -18px 40px #F00;
  margin-bottom: 3rem;
}

.img img:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #1e44ec;
  -webkit-box-shadow: 0px 0px 15px 15px #293571;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

