/* RESET */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  
}

textarea {
    resize: none;
   
}

/* HEADER */

header {
  height: 100px;
  background-color: #4d4d5c;
  padding: 0 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  height: 75px;
  border-radius: 8px;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 6px;
  transition: 0.4s;
  font-size: 0.7rem;
  letter-spacing: 1px;
 
}

.mostrar-menu,
.esconder-menu {
  font-size: 50px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color: aqua;
  border-bottom: 1px solid aqua;
}

#check {
  display: none;
  
}


/* IR ARRIBA */
/* .go-top-container{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}


.show i{
    transform: translate(-50%,-50%) scale(1);
}
 */
@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }50%{
        width: 8rem;
        height: 8rem;
    }100%{
        width: 6.6rem;
        height: 6.6rem;
    }

}
 /* FLECHA ARRIBA */
 .btn-flecha{
    position:fixed;
    cursor: pointer;
    width:60px;
    height:60px;
    bottom:31px;
    border-radius:50px;
    z-index:100;
    transition: all 300ms ease;
    }


 .btn-flecha img{
    width: 80px;
    height: 80px;
 }



/* BANNER */

#banner{
   padding-top: 0.5rem;
   width: 99vw;
  /*  height: 100vh; */
   max-width: 1700px;
   min-width: 200px;
   margin: auto;
  
   
}
#banner img{
    width: 100%;
    height: 60%;
}



/* SECTION */

#personas{
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

#personas img{
    height: 150px;
    width: 150px;
}

#personas div {
    padding: 30px 15px;
}

#personas div h4{
    color: #4d4d5c;
    font-size: 1rem;
    margin: 15px 0px;
}

#personas div p {
    color: #818191;
    font-size: 0.7rem;
    margin: 15px 0px;
    font-size: 12px;
}

.boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border: 3px solid #6cc091;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.4s;
}

.boton-saber-mas:hover{
    background-color: #b6eecd;
    color: white;
}


/* ELEGIRNOS */

.elegirnos{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 1rem;
    justify-content: center;
    text-align: center;
    padding: 50px 50px;
    width: 70%;
    margin: 0 auto;
}

.elegirnos h3{
    color: #4bae77;
}

.elegirnos p {
    color: #818191;
}


/* SECTION  II ICONOS */
#iconos{
    padding: 0px 20px;
    background-color: #d7d7ed;
}

.contenido-iconos{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.contenido-iconos div{
    border-right: 2px solid #fff;
}

#icono-mobile{
    border: none;
}

.contenido-iconos h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
}

.contenido-iconos div p{
    color: #818191;
    font-size: 16px;
}

.boton-iconos{
    text-align: center;
    padding-bottom: 40px;
}

.contenido-iconos i{
    color: #2c7c4f;
}



/* FORMULARIO */

#contacto{
    background: #419b67;
    padding: 50px 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
   
}

#contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

#contacto form{
    width: 80%;
    margin: 0 auto;
}

.datos-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.datos-form div{
    padding: 10px;
    flex:1;
}

form label{
    display: block;
    margin-bottom: 10px;
   
}

form input,
form textarea{
    background: #dcffec;
    border-radius: 10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;
    color: rgb(0, 0, 0);
    width: 100%;
    font-weight: 500;
   
}

form input:focus,
form textarea:focus{
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;
}

form input::placeholder,
form textarea::placeholder{
    color: rgb(154, 137, 137);
}

.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.boton-formulario{
    padding-left: 15px;
}

.boton-formulario .boton-saber-mas{
    display: block;
    border: 1px solid white;
    color: rgb(118, 107, 107);
    text-align: center;
    transition: 0.4s;
    font-weight: 600;
    text-transform: uppercase;
}

.boton-formulario:hover 
.boton-saber-mas:hover{
    background: #a8c6b6ad;
}

/* whatsApp */
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 55px;
    bottom:23px;
    right:12px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:60px;
    box-shadow: 8px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
    }

.btn-wsp:hover{
    background: #20ba5a;
 }
 
 /* SUCURSALES */

 .titulo-sucursales{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(1,1fr) ;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    background-color: #cee5d7;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%2392ac92' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
 }

 .titulo-sucursales h3{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
    -webkit-box-shadow: 11px 11px 21px -3px rgba(0,0,0,0.57);
   -moz-box-shadow: 11px 11px 21px -3px rgba(0,0,0,0.57);
   box-shadow: 11px 11px 21px -3px rgba(0,0,0,0.57);
 }

.ubicacion-sucursal{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
    background-color: #d1e5d9;
}


/* ASOCIADOS */
.asociados{
    padding-top: 0.5rem;
    width: 65vw;
   /*  height: 100vh; */
    max-width: 1700px;
    min-width: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.asociados img{
    width: 100%;
   
}

/* ENLACES DE INTERES */
.titulo-enlaces{
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    text-align: center;
    padding: 25px;
    background-color: #eaeaf9;
    letter-spacing: 5px;
    
}
 .enlaces{
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem 2rem;
    background-color: #fffbfb;
    
 }
 .enlace{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    letter-spacing: 2px;
    font-weight: 400;
 }
 .enlace a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
 }
 .enlace a img{
    height: 100px;
    width: 120px;
 }
 .enlace a img:hover{
    height: 120px;
    width: 140px;
    opacity: 1;
 }
 .enlace a:hover{
    border: 1px solid white;
    color: rgb(160, 87, 87);
    font-size: 17px;
    font-weight: 700;
 }
 


/* FOOTER */

footer{
    display: flex;
   
    justify-content: space-around;
    text-align: center;
    gap: .5rem;
    background: #4b4b57;

}

footer p,
footer h4{
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    font-weight: 500;
    line-height: 30px;
    
}






/* SERVICIOS */
.servicios-titulo{
    display: grid;

    grid-template-columns: 1fr ;
    justify-content: center;
    text-align: center;
    padding: 25px;
    background-color: #d1d1d9;
    letter-spacing: 5px;
}

.servicios-titulo h3{
    color: 244969;
    text-transform: uppercase;
    font-weight: 800;
}

.servicios{
    display: grid;
    grid-template-columns: 1fr ;
   /*  width: 60%; */
    justify-content: center;
    text-align: center;
    padding: 25px;
    margin: 0 auto;
    background-color: #eaeaf9;
  
}

.servicios h3{
    padding-bottom: 10px;
}

.s1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: initial;
    gap: 0.5rem;
    /* letter-spacing: 1px; */
    font-weight: 400;
    padding-bottom: 1.8rem;
}
.s1-c1{
    padding-left: 50px;
}
.s1-c2{
    padding-left: 99px;
}
.servicio{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    text-align: center;
    padding: 30px 0 30px;
    width: 83%;
    margin: 0 auto;
}



.servicio-img{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    justify-content: space-around;
    width: 99vw;
    /*  height: 100vh; */
     max-width: 1100px;
    min-width: 200px;
    margin: auto;
   
   
}


.servicio-img img{
    width: 100%;
    height: 90%;
}



/* RESPONSIVE */

@media (max-width: 768px) {
  /* HEADER */
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  .logo{
    height: 60px;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #4d4d5c;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }

  .menu a {
    display: block;
    padding: 20px;
  }

  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #check:checked ~ .menu {
    right: 0;
   
  }

  /* BANNER */
  #banner img{
    
    height: 240px;
  }

/* ICONOS */
.contenido-iconos{
    padding: 25px;
    gap:0.5rem;
  }

#iconos{
    padding: 0;
  }

/* SUCURSALES */
.ubicacion-sucursal{
    grid-template-columns: 1fr;
}

/* ASOCIADOS */
.asociados{
    
    grid-template-columns: 1fr ;
    gap: 1rem;
   
}



.s1-c1{
    padding-left: 10px;
}
.s1-c2{
    padding-left: 45px;
}
}



@media (max-width: 427px){
    /* PERSONAS */
    #personas{
        grid-template-columns: 1fr;
    }

    #banner img{
        width: 100%;
        height: 200px;
    }


    /* ICONOS */
    .contenido-iconos{
        grid-template-columns: 1fr;
    }

    .contenido-iconos div{
        border-right: none;
        border-bottom: 2px solid white;
        padding: 20px;
    }

    .datos-form{
            grid-template-columns: 1fr ;
        
    }

 
    
    
}
@media (max-width: 552px){
    .servicio{
        grid-template-columns: 1fr;
    }

    .s1-c1{
        padding-left: 10px;
    }
    .s1-c2{
        padding-left: 10px;
    }

    .servicio-img{
        grid-template-columns: 1fr;
        width: 65vw;
    }
}
@media (max-width: 500px){
    .datos-form{
        grid-template-columns: 1fr ; 
    }
    #personas{
        grid-template-columns: 1fr;
    }

    /* ENLACES DE INTERES */
    .enlace a{
        font-size: 14px;
        gap: 0.5rem;
     }
     /* FOOTER */

    footer{
       flex-direction: column ;
    }
    footer h4,
    footer p{
        font-size: 8px;
    }
}
@media (max-width: 350px){
    header{
        padding: 0px 25px;
    }
}


@media (max-width: 280px){
    .header{
        padding-top: 20px;
        height: 120px;
      flex-direction: column;
    }
    footer h4,
    footer p{
        font-size: 7px;
    }
}